@import "//fonts.googleapis.com/css?family=PT+Sans:400,400i,700";

body{
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

a{
  text-decoration: none;ù
  color: #000;
}

a:visited{
  color: #000;
}

a:hover{
  text-decoration: underline;
}

b{
  font-weight: 700;
}

h1{
  color: #000;
  font-size: 3em;
}

.sidebar{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #202020;
  text-align: center;
  width: 100vw;
  padding: 40px 20px 40px 20px;
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.sidebar h1{
  color: #fff;
}

.sidebar a{
  color: #fff;
}

.sidebar a:visited{
  color: #fff;
}

.blog{
  display: none;
  margin: 0 0 0 22rem;
  padding: 80px 20px 80px 20px;
  height: 100%;
}

.blog .post-title{
  font-size: 3rem;
  display: block;
}

.blog .post-date{
  color: rgba(0, 0, 0, 0.5);
}

.about{
  display: none;
  margin: 0 22rem 0 0;
  height: 100%;
  text-align: center;
}

.imgcircle{
  border-radius: 50%;
  width: 300px;
}
